USE [master]
GO
/****** Object:  Database [SocialNetworkDeveloper]    Script Date: 10/04/2021 10:00:20 ******/
CREATE DATABASE [SocialNetworkDeveloper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialNetworkDeveloper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SocialNetworkDeveloper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SocialNetworkDeveloper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SocialNetworkDeveloper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialNetworkDeveloper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialNetworkDeveloper]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [nvarchar](100) NULL,
	[estadoCategoria] [int] NULL,
 CONSTRAINT [pk_categorias] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[idChat] [int] NOT NULL,
	[idUsuarioEmisor] [int] NULL,
	[idUsuarioDestinatario] [int] NULL,
	[Mensaje] [text] NULL,
	[estadoMensaje] [int] NULL,
	[estadoChat] [int] NULL,
 CONSTRAINT [pk_chat] PRIMARY KEY CLUSTERED 
(
	[idChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[idComentario] [int] IDENTITY(1,1) NOT NULL,
	[Comentario] [text] NULL,
	[idTipoComentario] [int] NULL,
	[idComentarioPrincipal] [int] NULL,
	[idEstadoComentario] [int] NULL,
 CONSTRAINT [pk_comentarios] PRIMARY KEY CLUSTERED 
(
	[idComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[idContacto] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[idUsuarioContacto] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_contactos] PRIMARY KEY CLUSTERED 
(
	[idContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Departamento] [nvarchar](150) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_departamentos] PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoComentario]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoComentario](
	[idEstadoComentario] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nvarchar](100) NULL,
 CONSTRAINT [pk_estado_comentario] PRIMARY KEY CLUSTERED 
(
	[idEstadoComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPublicacion]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPublicacion](
	[idEstadoPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nvarchar](100) NULL,
 CONSTRAINT [pk_estado_publicacion] PRIMARY KEY CLUSTERED 
(
	[idEstadoPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[idMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[Municipio] [nvarchar](255) NULL,
	[idDepartamento] [int] NULL,
 CONSTRAINT [pk_municipios] PRIMARY KEY CLUSTERED 
(
	[idMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesCompras]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesCompras](
	[idOrdenCompra] [int] IDENTITY(1,1) NOT NULL,
	[idPublicacion] [int] NULL,
	[idUsuario] [int] NULL,
	[fechaHoraOrdenCompra] [datetime] NULL,
	[totalCompraConIva] [decimal](10, 4) NULL,
	[totalCompraSinIva] [decimal](10, 0) NULL,
	[estadoOrdenCompra] [char](1) NULL,
 CONSTRAINT [PK_OrdenesCompras] PRIMARY KEY CLUSTERED 
(
	[idOrdenCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesComprasDetalles]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesComprasDetalles](
	[idOrdenCompraDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idOrdenCompra] [int] NULL,
	[Cantidad] [decimal](10, 4) NULL,
	[montoConIva] [decimal](10, 4) NULL,
	[montoSinIva] [decimal](10, 4) NULL,
	[estadoOrdenCompraDetalle] [int] NULL,
 CONSTRAINT [PK_OrdenesComprasDetalles] PRIMARY KEY CLUSTERED 
(
	[idOrdenCompraDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesVentas]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesVentas](
	[idOrdenVenta] [int] IDENTITY(1,1) NOT NULL,
	[idPublicacion] [int] NULL,
	[idUsuario] [int] NULL,
	[estadoOrdenVenta] [char](1) NULL,
	[fechaHoraOrdenVenta] [datetime] NULL,
	[totalVentaConIva] [decimal](10, 4) NULL,
	[totalVentaSinIva] [decimal](10, 0) NULL,
 CONSTRAINT [PK_OrdenesNegocios] PRIMARY KEY CLUSTERED 
(
	[idOrdenVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesVentasDetalles]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesVentasDetalles](
	[idOrdenVentaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idOrdenVenta] [int] NULL,
	[Cantidad] [decimal](10, 4) NULL,
	[estadoOrdenNegocioDetalle] [int] NULL,
	[montoConIva] [decimal](10, 4) NULL,
	[montoSinIva] [decimal](10, 4) NULL,
 CONSTRAINT [PK_OrdenesNegociosDetalles] PRIMARY KEY CLUSTERED 
(
	[idOrdenVentaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[idPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NULL,
	[rutaImagen] [varchar](max) NULL,
	[Raiting] [int] NULL,
	[fechaCreacion] [datetime] NULL,
	[fechaPublicacion] [datetime] NULL,
	[idSubCategoria] [int] NULL,
	[idTipoPublicacion] [int] NULL,
	[idMinicipio] [int] NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Precio] [decimal](6, 2) NULL,
	[idEstadoPublicacion] [int] NULL,
	[idUsuario] [int] NULL,
	[Delivery] [char](1) NULL,
 CONSTRAINT [pk_pulicaciones] PRIMARY KEY CLUSTERED 
(
	[idPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [nvarchar](25) NULL,
 CONSTRAINT [pk_roles] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategorias]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategorias](
	[idSubCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombreSubCategoria] [nvarchar](100) NULL,
	[idCategoria] [int] NULL,
 CONSTRAINT [pk_subcategorias] PRIMARY KEY CLUSTERED 
(
	[idSubCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoComentario]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComentario](
	[idTipoComentario] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](100) NULL,
 CONSTRAINT [pk_tipo_comentario] PRIMARY KEY CLUSTERED 
(
	[idTipoComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPublicacion]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPublicacion](
	[idTipoPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[tipoPublicacion] [nvarchar](100) NULL,
 CONSTRAINT [pk_tipo_publicacion] PRIMARY KEY CLUSTERED 
(
	[idTipoPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idRol] [int] NULL,
	[nombreCompleto] [nvarchar](250) NULL,
	[Nombres] [nvarchar](125) NULL,
	[Apellidos] [nvarchar](125) NULL,
	[dui] [nvarchar](10) NULL,
	[nit] [nvarchar](16) NULL,
	[telefonoContacto] [nvarchar](15) NULL,
	[correoElectronico] [nvarchar](150) NULL,
	[Contrasena] [nvarchar](25) NULL,
	[Vendedor] [char](1) NULL,
	[Comprador] [char](1) NULL,
	[estadoUsuario] [int] NULL,
 CONSTRAINT [pk_usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Whislist]    Script Date: 10/04/2021 10:00:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Whislist](
	[idWhislist] [int] IDENTITY(1,1) NOT NULL,
	[idPublicacion] [int] NULL,
	[idUsuario] [int] NULL,
	[fechaCreacion] [datetime] NULL,
 CONSTRAINT [pk_whislist] PRIMARY KEY CLUSTERED 
(
	[idWhislist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([idCategoria], [nombreCategoria], [estadoCategoria]) VALUES (1, N'Productos', 1)
INSERT [dbo].[Categorias] ([idCategoria], [nombreCategoria], [estadoCategoria]) VALUES (2, N'Servicios', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([idDepartamento], [Departamento], [estado]) VALUES (1, N'Ahuachapán', 0)
INSERT [dbo].[Departamentos] ([idDepartamento], [Departamento], [estado]) VALUES (2, N'Cabañas', 0)
INSERT [dbo].[Departamentos] ([idDepartamento], [Departamento], [estado]) VALUES (3, N'Chalatenango', 0)
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Municipios] ON 

INSERT [dbo].[Municipios] ([idMunicipio], [Municipio], [idDepartamento]) VALUES (1, N'Ahuachapán', 1)
INSERT [dbo].[Municipios] ([idMunicipio], [Municipio], [idDepartamento]) VALUES (2, N'Jujutla', 1)
INSERT [dbo].[Municipios] ([idMunicipio], [Municipio], [idDepartamento]) VALUES (3, N'Atiquizaya', 1)
GO
SET IDENTITY_INSERT [dbo].[Municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([idRol], [Rol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([idRol], [Rol]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategorias] ON 

INSERT [dbo].[SubCategorias] ([idSubCategoria], [nombreSubCategoria], [idCategoria]) VALUES (1, N'Vehiculos', 1)
INSERT [dbo].[SubCategorias] ([idSubCategoria], [nombreSubCategoria], [idCategoria]) VALUES (2, N'Apartamentos', 1)
INSERT [dbo].[SubCategorias] ([idSubCategoria], [nombreSubCategoria], [idCategoria]) VALUES (3, N'Casas', 1)
SET IDENTITY_INSERT [dbo].[SubCategorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [idRol], [nombreCompleto], [Nombres], [Apellidos], [dui], [nit], [telefonoContacto], [correoElectronico], [Contrasena], [Vendedor], [Comprador], [estadoUsuario]) VALUES (3, 1, N'Douglas Guzman', N'Douglas Ricardo', N'Guzman Barahona', N'054439764', N'06143010961170', N'78804230', N'drgb96@gmail.com', N'123456', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Vendedor]  DEFAULT ('Y') FOR [Vendedor]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Comprador]  DEFAULT ('N') FOR [Comprador]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [fk_chat_usuarios_destinatario] FOREIGN KEY([idUsuarioDestinatario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [fk_chat_usuarios_destinatario]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [fk_chat_usuarios_emisor] FOREIGN KEY([idUsuarioEmisor])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [fk_chat_usuarios_emisor]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [fk_comentarios_estado_comentario] FOREIGN KEY([idEstadoComentario])
REFERENCES [dbo].[EstadoComentario] ([idEstadoComentario])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [fk_comentarios_estado_comentario]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [fk_comentarios_tipo] FOREIGN KEY([idTipoComentario])
REFERENCES [dbo].[TipoComentario] ([idTipoComentario])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [fk_comentarios_tipo]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [fk_contactos_usuarios2] FOREIGN KEY([idUsuarioContacto])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [fk_contactos_usuarios2]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [fk_contatos_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [fk_contatos_usuario]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [fk_municipios_departamentos] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamentos] ([idDepartamento])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [fk_municipios_departamentos]
GO
ALTER TABLE [dbo].[OrdenesCompras]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesCompras_Publicaciones] FOREIGN KEY([idPublicacion])
REFERENCES [dbo].[Publicaciones] ([idPublicacion])
GO
ALTER TABLE [dbo].[OrdenesCompras] CHECK CONSTRAINT [FK_OrdenesCompras_Publicaciones]
GO
ALTER TABLE [dbo].[OrdenesCompras]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesCompras_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[OrdenesCompras] CHECK CONSTRAINT [FK_OrdenesCompras_Usuarios]
GO
ALTER TABLE [dbo].[OrdenesComprasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesComprasDetalles_OrdenesCompras] FOREIGN KEY([idOrdenCompra])
REFERENCES [dbo].[OrdenesCompras] ([idOrdenCompra])
GO
ALTER TABLE [dbo].[OrdenesComprasDetalles] CHECK CONSTRAINT [FK_OrdenesComprasDetalles_OrdenesCompras]
GO
ALTER TABLE [dbo].[OrdenesVentas]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesNegocios_Publicaciones] FOREIGN KEY([idPublicacion])
REFERENCES [dbo].[Publicaciones] ([idPublicacion])
GO
ALTER TABLE [dbo].[OrdenesVentas] CHECK CONSTRAINT [FK_OrdenesNegocios_Publicaciones]
GO
ALTER TABLE [dbo].[OrdenesVentas]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesNegocios_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[OrdenesVentas] CHECK CONSTRAINT [FK_OrdenesNegocios_Usuarios]
GO
ALTER TABLE [dbo].[OrdenesVentasDetalles]  WITH CHECK ADD  CONSTRAINT [FK_OrdenesNegociosDetalles_OrdenesNegocios] FOREIGN KEY([idOrdenVenta])
REFERENCES [dbo].[OrdenesVentas] ([idOrdenVenta])
GO
ALTER TABLE [dbo].[OrdenesVentasDetalles] CHECK CONSTRAINT [FK_OrdenesNegociosDetalles_OrdenesNegocios]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [fk_publicaciones_estado] FOREIGN KEY([idEstadoPublicacion])
REFERENCES [dbo].[EstadoPublicacion] ([idEstadoPublicacion])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [fk_publicaciones_estado]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [fk_publicaciones_subcategorias] FOREIGN KEY([idSubCategoria])
REFERENCES [dbo].[SubCategorias] ([idSubCategoria])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [fk_publicaciones_subcategorias]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [fk_publicaciones_tipo] FOREIGN KEY([idTipoPublicacion])
REFERENCES [dbo].[TipoPublicacion] ([idTipoPublicacion])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [fk_publicaciones_tipo]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Usuarios]
GO
ALTER TABLE [dbo].[SubCategorias]  WITH CHECK ADD  CONSTRAINT [fk_subcategorias_categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[SubCategorias] CHECK CONSTRAINT [fk_subcategorias_categorias]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [fk_usuarios_roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([idRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [fk_usuarios_roles]
GO
ALTER TABLE [dbo].[Whislist]  WITH CHECK ADD  CONSTRAINT [fk_whislist_publicaciones] FOREIGN KEY([idPublicacion])
REFERENCES [dbo].[Publicaciones] ([idPublicacion])
GO
ALTER TABLE [dbo].[Whislist] CHECK CONSTRAINT [fk_whislist_publicaciones]
GO
ALTER TABLE [dbo].[Whislist]  WITH CHECK ADD  CONSTRAINT [fk_whislist_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Whislist] CHECK CONSTRAINT [fk_whislist_usuarios]
GO
USE [master]
GO
